*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    

}

.icon-bg{
    background-color: #F95555;
    border: none;
    border-radius: 50%;
    padding: 10px;

}

/* main style */
nav{
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #000000;
}
#banner{
    background-image: url(../images/hero-bg.png);
    width: 100%;
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding: 70px 120px 134px; */

}
#banner .banner-content{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 115px 120px 180px;
    align-items: center;
    justify-content:center;
    text-align: center;

}
#banner .banner-content h1{
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    max-width: 770px;
    margin: 0 auto 16px;

}
#banner .banner-content p{
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 auto 32px;

}
#btn2{
    /* max-width: 229px; */
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    padding: 12px 16px;
    color: #469165;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 auto 16px;
}
#banner .banner-content .btn3{
    background-color: #00000000;
    border: 1px solid #FFFFFF ;
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 16px;
}
#notes{
    padding: 0 120px;
}
#notes .notes-content .section-heading h2{
    padding-top: 64px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
#notes .notes-content .section-heading p{
    font-size: 16px;
    color: #627382;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding-top: 16px;
}
#notes .about-info{
    padding: 44px 120px 0;
    display: flex;
    gap: 24px;

}
#notes .about-info .info-card{
    max-width: 300px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #001931;
    margin: 0 auto;

}
#notes .about-info .info-card img{
    margin: 70px 131px 0;

}
#notes .about-info .info-card h4{
    font-size: 24px;
    font-weight: 600;
    padding-top: 16px;
    text-align: center;
}
#notes .about-info .info-card p{
    font-size: 16px;
    color: #627382;
    text-align: center;
    padding: 16px 24px 70px;
}
#brain{
    padding: 120px 120px;
    
}
#brain .brain-frame{
    display: flex;
    gap: 60px;
}
#brain .brain-frame .brain-content{
    padding: 120px;

}
#brain .brain-frame .brain-content .head{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}
#brain .brain-frame .brain-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-top: 16px;

}
#brain .brain-frame .brain-content .main-para{
    font-size: 16px;
    color: #627382;
    padding-top: 16px;
}
#brain .brain-frame .brain-content .the-list{
    padding-top: 40px;
}
#brain .brain-frame .brain-content .bullet-points{
    gap: 6px;
    display:flex;
    font-size: 16px;
    color: #001931;
    list-style-type: none;
    padding-bottom: 16px;

}



